<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: StockWorksHead"/>
    <title>Add Product</title>
</head>
<body>
<th:block th:replace="base :: StockWorksNav"></th:block>

<div class="container">
    <form action="#" th:action="@{/addproduct}" th:object="${newProduct}" method="post">
        <input type="hidden" th:field="*{p_id}"/>
        <h1>Add new product</h1>
        <label for="name">Name</label>
        <input type="text" class="form-control" th:field="*{p_name}" id="name" placeholder="Product name"
               autofocus="autofocus"/>
        <br/>
        <label for="image">Image</label>
        <input type="file" class="form-control" th:field="*{p_imgFile}" id="image" placeholder="Image file"/>
        <br/>
        <label for="description">Description</label>
        <input type="text" class="form-control" th:field="*{p_desc}" id="description" placeholder="Description"/>
        <br/>
        <label for="sku">SKU</label>
        <input type="text" class="form-control" th:field="*{p_sku}" id="sku" placeholder="SKU"/>
        <br/>
        <label for="upc">UPC</label>
        <input type="text" class="form-control" th:field="*{p_upc}" id="upc" placeholder="UPC"/>
        <br/>
        <label for="price">Price</label>
        <input type="number" class="form-control" th:field="*{p_price}" id="price" placeholder="$0.00" step="0.01"/>
        <br/>
        <label for="discount">Discount percent</label>
        <input type="number" class="form-control" th:field="*{p_discount}" id="discount" placeholder="0.0%" step="0.01"/>
        <br/>
        <label for="stock">Number in stock</label>
        <input type="number" class="form-control" th:field="*{p_numInStock}" id="stock" placeholder="0"/>
        <br/>
        <label for="dept">Department</label>
        <input type="text" class="form-control" th:field="*{p_department}" id="dept" placeholder="Grocery, Furniture"/>
        <br/>
        <label for="taxable">Taxable</label>
        <input type="checkbox" class="form-control" th:field="*{taxable}" id="taxable" />
        <!--<input type="checkbox" class="form-control" th:field="*{isTaxable}" id="taxable" checked="checked" />-->
        <!--<p>Wifi: <input type="checkbox" th:field="*{hasWifi}"/></p>-->
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button><button type="reset" class="btn btn-primary">Reset</button>
    </form>
</div>
<th:block th:replace="base :: StockWorksFoot"></th:block>

</body>
</html>