body {
    padding-top: 8rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: right;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

p.center {
    text-align: center;
}