<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: StockWorksHead"/>
    <title>Welcome to StockWorks!</title>
</head>
<body>
<th:block th:replace="base :: StockWorksNav"></th:block>

<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <!--<div class="panel panel-default card card-3">-->
            <div class="panel">
            <!--<div class="panel-body">-->
                <caption> <h4><b>All products</b></h4></caption>
                <table class="table table-striped table-bordered">
                    <!--<table class="table">-->
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Image file</th>
                        <th>Description</th>
                        <th>SKU</th>
                        <th>UPC</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th># In Stock</th>
                        <th>Department</th>
                        <th>Taxable</th>

                    </tr>
                    </thead>
                    <tbody align="left">
                    <tr th:each="list: ${allProducts}">
                        <td th:text="*{list.p_name}"></td>
                        <td th:text="*{list.p_imgFile}"></td>
                        <td th:text="*{list.p_desc}"></td>
                        <td th:text="*{list.p_sku}"></td>
                        <td th:text="*{list.p_upc}"></td>
                        <td th:text="'$'+*{list.p_price}"></td>
                        <td th:text="*{list.p_discount}+'%'"></td>
                        <td th:text="*{list.p_numInStock}"></td>
                        <td th:text="*{list.p_department}"></td>
                        <td th:text="*{list.taxable} ? 'Yes' : 'No'"></td>
                        <td><a th:href="@{/update/{id}(id=${list.p_id})}">Modify</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    <!--</div>-->
</div>
<th:block th:replace="base :: StockWorksFoot"></th:block>

</body>
</html>